@page "/cart"

@inject ICartService CartService


<h3>Shopping Cart</h3>

@if (cartItems == null || cartItems.Count <= 0)
{
    <span>No items in cart.</span>
}


@code {
    List<CartItem> cartItems = new List<CartItem>();

    protected override async Task OnInitializedAsync()
    {
        cartItems = await CartService.GetCartItems();
    }
}
