@page "/"
@page "/{categoryurl}"

@inject ICategoryService CategoryService
@inject IProductService ProductService

@if(category is not null)
            {
    <h1>Welcome to the @category.Name Category!</h1>
    <ProductList CategoryID="@category.ID"/>
            }
            else
            {
    <h1>Welcome to the Blazor shop!</h1>
                <ProductList/>
            }



@code{
    [Parameter]
    public string Categoryurl { get; set; }

    private Category category = null;

    protected override async Task OnParametersSetAsync ()
    {
        await ProductService.LoadProducts(Categoryurl);

        if(Categoryurl is not null)
        {
            category = CategoryService.Categories.FirstOrDefault(c => c.URL.ToLower().Equals(Categoryurl.ToLower()));
        }
        else
        {
            category = null;
        }
    }
}